html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Libre Franklin";
    src: url(fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Libre Franklin";
    src: url(fonts/Libre_Franklin/LibreFranklin-Italic-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: "Libre Franklin", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

/* styles the hero image section */
.hero-img-container {
    width: 100%;
    background-color: rgb(150, 61, 50);
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(imgs/monica-dahiya-3N9Bx84lRPQ-unsplash.jpg);
    background-size: 100%;
    background-position-y: 11%;
    background-repeat: no-repeat;
}

.logo-container {
    width: 100%;
    display: flex;
    margin: 40px 0 auto 0;
    background-color: #00000077;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo-container__img {
    max-width: 30vw;
    max-height: 30vw;
}

.logo-container__text {
    color: #d4d4d4;
    font-size: 6rem;
}


/* styles the main text section */
.main-text {
    background-color: #f3f3f3;
    padding: 20px 30px;
}

/* styles the form section */
.form  {
    width: 100%;
    padding: 20px 0 20px 30px;
    box-shadow: 0px 5px 10px #81818148;
}

.form__label {
    font-weight: 900;
    color: #3b3b3b;
}

.form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
} 

.form input {
    width: 75%;
    line-height: 2.5rem;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

form input:focus {
    outline: 1px solid #4b4bd8;
    box-shadow: 3px 3px 5px #3b3b3b48;
}

input:user-invalid {
    border-color: red;
}

 /* styles the submit button section */
.btn-container {
    width: 100%;
    padding: 10px 0 20px 30px;
}

.btn-container__button {
    padding: 15px 50px;
    margin: 30px 0;
    background-color: #d34949;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 900;
    color: #fff;
}

.btn-container__log-in-text {
    font-weight: 900;
}

.btn-container__log-in-link {
    color: #d34949;
    text-decoration: none;
}

@media only screen and (min-width: 1300px) {
    body {
        display: flex;
        flex-direction: row;
    }

    main {
        min-height: 100vh;
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    /* styles the hero image section */
    .hero-img-container {
        max-width: 40%;
        height: 100vh;

        background-image: url(imgs/monica-dahiya-3N9Bx84lRPQ-unsplash.jpg);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    .logo-container {
        margin: 33vh 0 auto 0;
        padding: 10px;
    }

    .logo-container__text {
        font-size: 8rem;
        margin-left: 20px;
    }

    .hero-img-container__img-credit {
        color: #d4d4d4;
        margin-bottom: 20px;
    }

    .hero-img-container__img-credit > a {
        color: #d4d4d4;
    }

    /* styles the main text section */

    .main-text {
        flex-grow: 2;
        padding: 80px 60px;
        display: flex;
        align-items: end;
    }

    .main-text__text {
        font-size: 2rem;
    } 

    /* styles the form section */
    .form  {
        padding: 20px 60px;

        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
    }

    .form > div {
        width: 50%;
        margin-bottom: 0;
    }

    .form input {
        width: 300px;
    }

    /* styles the submit button section */
     .btn-container {
        padding: 10px 0 20px 60px;
        flex-grow: 1.5;
     }
}    